<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <p>
    <%for(var i=0;i<error.length;i++){%>
      <span><%= error[i].msg %></span><br/>
    <% } %>
  </p>
  <form action="/thankyou" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrftoken %>">
    <table>
      <tr>
        <td>Full Name:</td>
        <td><input type="text" name="fullname"></td>
      </tr>
      <tr>
        <td>Type:</td>
        <td><select name="type"><option>Suggestion</option><option>Complain</option></select></td>
      </tr>
      <tr>
        <td>Message:</td>
        <td><textarea name="message"></textarea></td>
      </tr>
      <tr>
        <td colspan="2" id="submit"><input type="submit" name="submit"></td>
      </tr>
    </table>    
  </form>
</body>

</html>